extends layout

block content
  if products
    .row
      .col-sm-6.col-md-6.offset-md-3.offset-sm-3
        ul.list-group
          each product in products
            li.list-group-item.d-flex.justify-content-between.align-items-center
              span.title #[strong #{product.item.title}] 
              
              span.badge.badge-success $#{product.price}
              .btn-group
                button.btn.btn-primary.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown') Action
                ul.dropdown-menu
                  li
                    a(href='/reduce/' + product.item._id) Reduce by 1
                  li
                    a(href='/remove/' + product.item._id) Remove All
              span.badge.badge-pill.badge-secondary #{product.qty}
    .row
      .col-sm-6.col-md-6.offset-md-3.offset-sm-3
        span.total #[strong Total: #{totalPrice}]
    hr
    .row
      .col-sm-6.col-md-6.offset-md-3.offset-sm-3
        a.btn.btn-success(href='/checkout' role='button') Checkout
  else
    .row
      .col-sm-6.col-md-6.offset-md-3.offset-sm-3
        h2 No items in cart
