extends layout

block content
  .row
    .col-md-6.col-lg-4.offset-lg-4.offset-md-3
      h1 Checkout
      h4 Your Total: $#{total}
      #charge-error.alert.alert-danger(class=!errMsg ? 'd-none' : '') #{errMsg} 
      form#checkout-form(method='POST' action='/checkout')
        .row
          .col-12
            .form-group
              label(for='name') Name
              input#name.form-control(type='text' required name='name')
          .col-12
            .form-group
              label(for='address') Address
              input#address.form-control(type='text' required name='address')
          .col-12
            .form-group
              label(for='card-name') Card Holder Name
              input#card-name.form-control(type='text' required)
          .col-12
            .form-group
              label(for='card-number') Credit Card Number
              input#card-number.form-control(type='text' required)
          .col-12
            .row
              .col-6
                .form-group
                  label(for='card-expiry-month') Expiration Month
                  input#card-expiry-month.form-control(type='text' required)
              .col-6
                .form-group
                  label(for='card-expiry-year') Expiration Year
                  input#card-expiry-year.form-control(type='text' required)
          .col-12
            .form-group
              label(for='card-cvc') CVC
              input#card-cvc.form-control(type='text' required)
        button.btn.btn-success(type='submit') Buy now
