doctype html
html
  head
    title= title
    mate(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include imports
  body
    include header
    
    div.content
      block content
