div.rating
  label 5
    input(type="radio" name="rating" value="5" title="5 stars")
  label 4
    input(type="radio" name="rating" value="4" title="4 stars")
  label 3
    input(type="radio" name="rating" value="3" title="3 stars")
  label 2
    input(type="radio" name="rating" value="2" title="2 stars")
  label 1
    input(type="radio" name="rating" value="1" title="1 star")
  
