extends ../layout

block content
  .row
    .col-md-8.offset-md-2
      h1 User Profile
      hr
      h2 My Orders
      each order in orders
        .card
          .card-body
            ul.list-group
              each item in order.items
                li.list-group-item.d-flex.justify-content-between.align-items-center
                  | #{item.item.title} | #{item.qty} Units
                  span.badge.bade-pill.badge-primary $#{item.price} 
          .card-footer $#{order.cart.totalPrice}
