extends ../layout

block content
  div.row
    div.col-md-4.offset-md-4
      h1 Sign Up
      
      if messages.length
        .alert.alert-danger
          each message in messages
            p #{message}
      
      form(method='POST' action='/user/signup')
        div.form-group
          label(for='email') E-mail
          input.form-control(type='text' id='email' name='email')
        div.form-group
          label(for='password') Password
          input.form-control(type='password' id='password' name='password')
        input(type='hidden' name='_csrf' value=csrfToken)
        button.btn.btn-primary(type='submit') Sign up
      p Already have an account?
        a(href='/user/signin')  Sign in instead!